{
  "semi": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "trailingComma": "all",
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "arrowParens": "always"
}
